.wp-block[data-type="hrswp/document-select"] {
	padding: 0;
	transition: padding 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.wp-block[data-type="hrswp/document-select"].is-selected {
	padding: 0 8px 8px;
}
