.wp-block[data-type="hrswp/document-select"] {
	padding: 0 8px 8px;

	& .components-disabled {
		overflow: hidden;
	}
}

@media (min-width: 990px ) {

	.wp-block[data-type="hrswp/document-select"] img {
		float: left;
		margin-right: 2rem;
	}

}
