/* stylelint-disable selector-class-pattern */
.wp-block-hrswp-documents-list {
	font-size: var(--font-size-base);
	padding: 0 0 1.5em 2em;
}

.wp-block-hrswp-documents-list a .wp-block-hrswp-documents-list--heading {
	border-bottom: 1px solid var(--nav-color-border);
	font-weight: 600;
	text-decoration: none;
}

.wp-block-hrswp-documents-list--post-date,
.wp-block-hrswp-documents-list--post-excerpt {
	display: block;
	font-weight: 400;
	padding-top: 0.1em;
}

.wp-block-hrswp-documents-list--post-date {
	font-size: var(--font-size-1);

	&::before {
		background-image: url(images/time.svg);
		background-position: center 100%;
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		display: inline-block;
		height: 0.75em;
		margin: 0 0.25em -0.04em 0;
		width: 0.75em;
	}
}

.wp-block-hrswp-documents-list:not(.is-grid) {

	&.has-date .wp-block-hrswp-documents-list--list-item:not(:last-of-type),
	&.wp-block-hrswp-documents-list.has-excerpt .wp-block-hrswp-documents-list--list-item:not(:last-of-type),
	&.wp-block-hrswp-documents-list.has-feature-image .wp-block-hrswp-documents-list--list-item:not(:last-of-type) {
		padding-bottom: 1em;
	}

	&.has-date .wp-block-hrswp-documents-list--list-item:not(:first-of-type),
	&.has-excerpt .wp-block-hrswp-documents-list--list-item:not(:first-of-type) {
		padding-top: 1em;
		border-top: 1px solid #eaeaea;
	}

}

.wp-block-hrswp-documents-list.has-feature-image {
	list-style-type: none;
	padding-left: 0;

	& .wp-block-hrswp-documents-list--list-item > a {
		border: none;
		display: flex;
	}

	& .wp-block-hrswp-documents-list--body {
		flex: 1 0;
		padding-top: 0.5em;
	}

	& .wp-block-hrswp-documents-list--featured-image.alignright {
		margin-right: 0;
		order: 2;
		text-align: right;
	}

	& a .wp-block-hrswp-documents-list--featured-image {
		line-height: 0;
		overflow: hidden;
		position: relative;
	}

	& a .wp-block-hrswp-documents-list--featured-image::before {
		background-color: #fff;
		border-radius: 5px;
		content: "";
		height: 100%;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		transition: all 0.3s ease-in-out;
		width: 100%;
	}

	& a .wp-block-hrswp-documents-list--featured-image::after {
		background-image: url(images/launch.svg);
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		height: 40%;
		opacity: 0;
		position: absolute;
		left: 5%;
		top: 10%;
		transition: all 0.3s ease;
		width: 40%;
	}

	& a .wp-block-hrswp-documents-list--featured-image.aligncenter::after {
		left: 35%;
		top: 25%;
	}

	& a:hover .wp-block-hrswp-documents-list--featured-image::before {
		opacity: 0.8;
	}

	& a:hover .wp-block-hrswp-documents-list--featured-image::after {
		opacity: 1;
	}

	& a img {
		transition: all 0.3s ease-in-out;
		transform: translateZ(0);
	}

	& a:hover img {
		opacity: 0.5;
		transform: scale(1.05);
	}

}

.wp-block-hrswp-documents-list:not(.is-grid) .wp-block-hrswp-documents-list--featured-image {
	flex: 1 0;
	margin-right: 1em;

	&.size-thumbnail {
		max-width: 150px;
	}

	&.size-small {
		max-width: 200px;
	}

	&.size-medium {
		max-width: 250px;
	}

	&.size-large {
		max-width: 60%;
	}

	& img {
		border-radius: 5px;
	}

}

.wp-block-hrswp-documents-list.is-grid {
	display: flex;
	flex-flow: row wrap;
	list-style-type: none;
	padding-left: 0;

	& .wp-block-hrswp-documents-list--list-item > a {
		border: none;
		display: block;
		flex-direction: column;
		margin: 10px;
		max-width: 600px;
	}

	& .wp-block-hrswp-documents-list--featured-image {
		margin: 0;
	}

	& .wp-block-hrswp-documents-list--featured-image.alignright {
		align-self: flex-end;
		order: initial;
	}

	& .wp-block-hrswp-documents-list--featured-image.aligncenter {
		align-self: center;
	}

	&:not(.image-only) .wp-block-hrswp-documents-list--body {
		padding: 0.5em 1em;
	}

}

@media (min-width: 576px) {

	.wp-block-hrswp-documents-list.is-grid,
	.wp-block-hrswp-documents-list.is-grid.columns-1,
	.wp-block-hrswp-documents-list.is-grid.columns-2,
	.wp-block-hrswp-documents-list.is-grid.columns-3,
	.wp-block-hrswp-documents-list.is-grid.columns-4,
	.wp-block-hrswp-documents-list.is-grid.columns-5,
	.wp-block-hrswp-documents-list.is-grid.columns-6 {

		& .wp-block-hrswp-documents-list--list-item {
			max-width: calc(100% / 2 - 20px);
		}

		&.justify-columns .wp-block-hrswp-documents-list--list-item {
			width: calc(100% / 2 - 20px);
		}

	}

}

@media (min-width: 768px) {

	.wp-block-hrswp-documents-list.is-grid.columns-3,
	.wp-block-hrswp-documents-list.is-grid.columns-4,
	.wp-block-hrswp-documents-list.is-grid.columns-5,
	.wp-block-hrswp-documents-list.is-grid.columns-6 {

		& .wp-block-hrswp-documents-list--list-item {
			max-width: calc(100% / 3 - 20px);
		}

		&.justify-columns .wp-block-hrswp-documents-list--list-item {
			width: calc(100% / 3 - 20px);
		}

	}

}

@media (min-width: 900px) {

	.wp-block-hrswp-documents-list.is-grid.columns-4,
	.wp-block-hrswp-documents-list.is-grid.columns-5,
	.wp-block-hrswp-documents-list.is-grid.columns-6 {

		& .wp-block-hrswp-documents-list--list-item {
			max-width: calc(100% / 4 - 20px);
		}

		&.justify-columns .wp-block-hrswp-documents-list--list-item {
			width: calc(100% / 4 - 20px);
		}

	}

}

@media (min-width: 1386px) {

	.wp-block-hrswp-documents-list.is-grid.columns-5 {

		& .wp-block-hrswp-documents-list--list-item {
			max-width: calc(100% / 5 - 20px);
		}

		&.justify-columns .wp-block-hrswp-documents-list--list-item {
			width: calc(100% / 5 - 20px);
		}

	}

	.wp-block-hrswp-documents-list.is-grid.columns-6 {

		& .wp-block-hrswp-documents-list--list-item {
			max-width: calc(100% / 6 - 20px);
		}

		&.justify-columns .wp-block-hrswp-documents-list--list-item {
			width: calc(100% / 6 - 20px);
		}

	}

}
/* stylelint-enable selector-class-pattern */
