/* stylelint-disable selector-class-pattern */
.wp-block-hrswp-documents-list {
	font-size: var(--font-size-base);
	padding: 0 0 1.5em 2em;
}

.wp-block-hrswp-documents-list--list-item {
	padding: 0;
}

.wp-block-hrswp-documents-list a .wp-block-hrswp-documents-list--heading {
	border-bottom: 1px solid var(--nav-color-border);
	font-weight: 600;
	text-decoration: none;
}

.wp-block-hrswp-documents-list--post-date,
.wp-block-hrswp-documents-list--post-excerpt {
	display: block;
	font-weight: 400;
	padding-top: 0.1em;
}

.wp-block-hrswp-documents-list--post-date {
	font-size: var(--font-size-1);

	&::before {
		background-image: url(images/time.svg);
		background-position: center 100%;
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		display: inline-block;
		height: 0.75em;
		margin: 0 0.25em -0.04em 0;
		width: 0.75em;
	}
}

.wp-block-hrswp-documents-list.has-date .wp-block-hrswp-documents-list--list-item:not(:last-of-type),
.wp-block-hrswp-documents-list.has-excerpt .wp-block-hrswp-documents-list--list-item:not(:last-of-type),
.wp-block-hrswp-documents-list.has-feature-image .wp-block-hrswp-documents-list--list-item:not(:last-of-type) {
	padding-bottom: 0.5em;
}

.wp-block-hrswp-documents-list.has-date .wp-block-hrswp-documents-list--list-item:not(:first-of-type),
.wp-block-hrswp-documents-list.has-excerpt .wp-block-hrswp-documents-list--list-item:not(:first-of-type),
.wp-block-hrswp-documents-list.has-feature-image .wp-block-hrswp-documents-list--list-item:not(:first-of-type) {
	padding-top: 0.5em;
	border-top: 1px solid #eaeaea;
}

.wp-block-hrswp-documents-list.has-feature-image {
	list-style-type: none;
	padding-left: 0;

	& .wp-block-hrswp-documents-list--list-item > a {
		border: none;
		display: flex;
	}

	& .wp-block-hrswp-documents-list--body {
		flex: 1 0;
		padding-top: 0.5em;
	}
}

.wp-block-hrswp-documents-list:not(.is-grid) .wp-block-hrswp-documents-list--featured-image {
	flex: 1 0;
	margin-right: 1em;

	&.size-thumbnail {
		max-width: 150px;
	}

	&.size-small {
		max-width: 200px;
	}

	&.size-medium {
		max-width: 250px;
	}

	&.size-large {
		max-width: 60%;
	}

	& img {
		border-radius: 5px;
	}

}

.wp-block-hrswp-documents-list.is-grid {
	display: flex;
	flex-flow: row wrap;
	list-style-type: none;
	margin-left: -20px;
	margin-right: -20px;

	& .wp-block-hrswp-documents-list--list-item > a {
		background-color: #fff;
		border: none;
		border-radius: 5px;
		box-shadow:
			0 1px 1px 0 rgba(66, 66, 66, 0.08),
			0 1px 3px 1px rgba(66, 66, 66, 0.16);
		display: block;
		flex-direction: column;
		min-height: 150px;
		max-width: 600px;
		transition: box-shadow 135ms 0ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover {
			box-shadow:
				0 1px 3px 1px rgba(66, 66, 66, 0.2),
				0 2px 8px 4px rgba(66, 66, 66, 0.1);
		}
	}

	&.has-feature-image .wp-block-hrswp-documents-list--featured-image {
		margin: 0;
	}

	&.has-feature-image .wp-block-hrswp-documents-list--featured-image.size-thumbnail {
		margin: 1em 0 0 1.5em;
	}

	&.has-feature-image .wp-block-hrswp-documents-list--featured-image.alignright {
		align-self: flex-end;
		order: initial;
	}

	&.has-feature-image .wp-block-hrswp-documents-list--featured-image.aligncenter {
		align-self: center;
	}

}

@media (min-width: 576px) {

	.wp-block-hrswp-documents-list.is-grid,
	.wp-block-hrswp-documents-list.is-grid.columns-1,
	.wp-block-hrswp-documents-list.is-grid.columns-2,
	.wp-block-hrswp-documents-list.is-grid.columns-3,
	.wp-block-hrswp-documents-list.is-grid.columns-4,
	.wp-block-hrswp-documents-list.is-grid.columns-5,
	.wp-block-hrswp-documents-list.is-grid.columns-6 {

		& .wp-block-hrswp-documents-list--list-item {
			width: calc(100% / 2 - 20px);
		}

	}

}

@media (min-width: 768px) {

	.wp-block-hrswp-documents-list.is-grid.columns-3,
	.wp-block-hrswp-documents-list.is-grid.columns-4,
	.wp-block-hrswp-documents-list.is-grid.columns-5,
	.wp-block-hrswp-documents-list.is-grid.columns-6 {

		& .wp-block-hrswp-documents-list--list-item {
			width: calc(100% / 3 - 20px);
		}

	}

}

@media (min-width: 900px) {

	.wp-block-hrswp-documents-list.is-grid.columns-4,
	.wp-block-hrswp-documents-list.is-grid.columns-5,
	.wp-block-hrswp-documents-list.is-grid.columns-6 {

		& .wp-block-hrswp-documents-list--list-item {
			width: calc(100% / 4 - 20px);
		}

	}

}

@media (min-width: 1386px) {

	.wp-block-hrswp-documents-list.is-grid.columns-5 {

		& .wp-block-hrswp-documents-list--list-item {
			width: calc(100% / 5 - 20px);
		}

	}

	.wp-block-hrswp-documents-list.is-grid.columns-6 {

		& .wp-block-hrswp-documents-list--list-item {
			width: calc(100% / 6 - 20px);
		}

	}

}
/* stylelint-enable selector-class-pattern */
